ol {
  padding: 12px;
  background-color: #d77878;
  list-style: none;
  counter-reset: numbers;
}

li {
  background-color: #c13232; /* Більш темний фон елемента списку */
  padding: 12px;
  margin: 10px 1px;
}

li::before {
  content: counter(numbers);
  counter-increment: numbers;
  position: relative;
  padding: 10px;
  margin-right: 10px;
  color: aqua;
  background-color: #c13232;
}
/* Стилізація для тексту в кожному елементі списку */
span {
  background-color: rgb(122, 10, 10); /* Найтемніший фон тільки під текстом */
  color: #fff; /* Колір тексту на темному фоні */
  padding: 10px;
}
* {
  font-style: italic;
}
